body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6IAqvpZzAjePtCyyBCFJW22HM2wmXKST2dvym3L08tPFaSNy9ALNlyFmyDEvLaXbo-Zs&usqp=CAU) no-repeat;
    background-size: 100% auto;
}

a {
    color:green;
}
.Rechenya {
    color: blue;
    font-size: 30px;
    text-indent: 10px;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-style: italic;
}
p {
    font-style: italic;
}
.Poculanya {
    color: aqua;
    text-decoration: underline;
    font-style: italic;
}
h2 {
    text-align: center;
    font-style: italic;
}
.center {
    text-align: center;
    font-style: italic;
}